<?xml version="1.0" encoding="UTF-8"?>
<!-- ******************************************************************************
 *
 * Pentaho
 *
 * Copyright (C) 2026 by Pentaho Canada Inc. : http://www.pentaho.com
 *
 * Use of this software is governed by the Business Source License included
 * in the LICENSE.TXT file.
 *
 * Change Date: 2030-06-15
 ******************************************************************************* -->
<plugin title="cgg" loader="overriding">


  <lifecycle-listener class="pt.webdetails.cgg.CggLifeCycleListener"/>

  <static-paths>
    <static-path url="/cgg/static" localFolder="static"/>
  </static-paths>
  <content-types>
  </content-types>

  <content-generator scope="local" id="cgg" type="graphicsGenerator" url="">
    <classname>pt.webdetails.cgg.CggContentGenerator</classname>
    <title>CGG</title>
  </content-generator>

  <!-- Menu entry -->
  <menu-items/>
</plugin>
