<?xml version="1.0" encoding="UTF-8"?>
<plugin title="cgg" loader="DEFAULT">

  <static-paths>
    <static-path url="/cgg/static" localFolder="static"/>
  </static-paths>
  <content-types>
  </content-types>
  
  <content-generator scope="local" id="cgg" type="graphicsGenerator" url="">
    <classname>pt.webdetails.cgg.CggContentGenerator</classname>
    <title>CGG</title>
  </content-generator>
  
  <!-- Menu entry -->
  <menu-items/>
</plugin>
